{% extends "manage/base.html" %}
{% block content %}
    <div class="head">
        <ul class="p10">
            <li><a href="{{ url_for('manage') }}" >内容管理</a></li>
            <li><a href="{{ url_for('type') }}" >类别管理</a></li>
            <li><a href="{{ url_for('users') }}" class="selected">用户管理</a></li>
        </ul>
    </div>
    <div class="list tal p10">
        <div class="mb10" style="border-bottom:1px solid #ececec">修改用户&gt;&gt;</div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post" action="{{ url_for('.uupdate',id=row.id) }}">
            <div><input class='text-style mt15' type="text" name="username" value="{{ row.username }}" placeholder="请输入用户名"/></div>
            <div><input class='text-style mt15' type="text" name="password" value="" placeholder="请输入密码"/></div>
            <div><input class='text-style mt15' type="text" name="mail" value="{{ row.mail }}" placeholder="请输入邮箱"/></div>
            <div>
                <input class="button mt15" type="hidden" name="issubmit" value="1">
                <input class="button mt15" type="submit" name="submit" value="修改用户">
            </div>
        </form>
    </div>
{% endblock %}