{% extends "manage/base.html" %}
{% block content %}
    <div class="head">
        <ul class="p10">
            <li><a href="{{ url_for('manage') }}" >内容管理</a></li>
            <li><a href="{{ url_for('type') }}" class="selected">类别管理</a></li>
            <li><a href="{{ url_for('users') }}">用户管理</a></li>
        </ul>
    </div>
    <div class="list tal p10">
        <div class="mb10" style="border-bottom:1px solid #ececec">修改类别&gt;&gt;</div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post" action="{{ url_for('.tupdate',id=row.id ) }}">
            <div><input class='text-style mt15' type="text" name="name" value="{{ row.name }}" placeholder="请输入类别名称"/></div>
            <div>
                <input class="button mt15" type="hidden" name="issubmit" value="1">
                <input class="button mt15" type="submit" name="submit" value="修改类别">
            </div>
        </form>
    </div>
{% endblock %}